* {
  padding: 0;
  margin: 0;

  outline: 0;
  box-sizing: border-box;
  border: none;

  list-style: none;

  text-decoration: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;

  background: url(../assets/logo.svg);
  background-size: 500px;
  background-color: #1a1a1a;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -10;

  position: fixed;
}

.field-background-image {
  width: 100%;
  height: 100%;

  opacity: .92;

  background-color: #1a1a1a;
}

.header {
  max-width: 1300px;
  height: 120px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: show-header 1s ease forwards;
}

.left-header {
  display: flex;
  align-items: center;
}

.left-header .field-logo img {
  width: 60px;
}

.guide {
  margin-left: 74px;
}

.left-header .guide ul {
  width: 415px;

  display: flex;
  justify-content: space-between;
}

.left-header .guide ul a {
  color: #959698;

  transition: .3s;
}

.left-header .guide ul a:hover {
  color: #FFFFFF;
}

.right-header {
  display: flex;
  align-items: center;
}

.right-header .field-insta {
  display: flex;
  align-items: center;
}

.right-header svg {
  font-size: 30px;
  color: #959698;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  transition: .5s ease;
}

.right-header svg:hover {
  transform: translateY(-6%);

  color: #FFFFFF;
}

.home-container {
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-container .field-home-logo {
  padding-bottom: 60px;
}

.home-container .home-logo {
  width: 190px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  animation: show-homelogo .8s ease;
}

@keyframes show-homelogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.field-logo-smoke {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-logo-smoke h1 {
  width: 430px;
  
  color: #C7B37D;

  font-size: 80px;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
}

.field-logo-smoke .home-title-1 {
  animation: 1.4s show-hometitle-1 ease;
}

@keyframes show-hometitle-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.field-logo-smoke .home-title-2 {
  animation: 2s show-hometitle-2 ease;
}

@keyframes show-hometitle-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.field-logo-smoke img {
  animation: 2.8s show-homesmoke ease;
}

@keyframes show-homesmoke {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.home-to-work {
  position: absolute;

  bottom: 100px;

  animation: show-hometowork 2.6s ease;
}

@keyframes show-hometowork {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  66% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-to-work a {
  color: #FFFFFF;

  display: flex;
  align-items: center;

  transition: .9s;
}

.home-to-work a:hover {
  text-decoration: underline;
}

.home-to-work a div {
  animation: arrowRight 1s alternate infinite ease;
 
  display: flex;
  align-items: center;

  padding: 5.4px 0 0 7px;
}

@keyframes arrowRight {
  from {
    transform: translateX(60%);
  }
  to {
    transform: translateX(0);
  }
}

@media(max-width: 1400px) {
  .background {
    background-size: 380px;
  }
  .header {
    height: 110px;
    padding: 0 20px 0 20px;
  }
  .left-header .field-logo img {
    width: 54px;
  }
  .guide {
    margin-left: 60px;
  }
  .left-header .guide ul {
    width: 400px;
  }
  .home-container {
    height: 76vh;
  }
  .home-container .field-home-logo {
    padding-bottom: 40px;
  }
  .home-container .home-logo {
    width: 160px;
  }
  .field-logo-smoke h1 {
    font-size: 70px;
    padding-left: 10px;
  }
  .field-logo-smoke img {
    width: 420px;
  }
  .home-to-work {
    bottom: 48px;
  }
}

@media(max-width: 820px) {
  .left-header .guide ul {
    width: 310px;
  }
  .guide {
    margin-left: 54px;
  }
  .right-header svg {
    font-size: 28px;
  }
  .home-container .field-home-logo {
    padding-bottom: 40px;
  }
  .home-container .home-logo {
    width: 130px;
  }
  .field-logo-smoke h1 {
    font-size: 56px;
    padding-left: 30px;
    width: 370px;
  }
  .field-logo-smoke img {
    width: 370px;
  }
}

@media(max-width: 540px) {
  .left-header .guide ul {
    width: 250px;
  }
  .guide {
    margin-left: 34px;
  }
  .home-container {
    height: 68vh;
  }
  .home-container .field-home-logo {
    padding-bottom: 40px;
  }
  .home-container .home-logo {
    width: 110px;
  }
  .field-logo-smoke h1 {
    font-size: 48px;
    padding-left: 20px;
    width: 300px;
  }
  .field-logo-smoke img {
    width: 300px;
  }
}

@media(max-width: 440px) {
  .header {
    flex-direction: column;
  }
  .header .left-header {
    padding-top: 14px;
    flex-direction: column;
  }
  .header .right-header {
    display: none;
  }
  .left-header .guide ul {
    margin-top: 14px;
    width: 280px;
  }
  .guide {
    margin-left: 0px;
  }
  .home-container .field-home-logo {
    padding-bottom: 40px;
  }
  .home-container .home-logo {
    width: 96px;
  }
  .field-logo-smoke h1 {
    font-size: 40px;
    padding-left: 20px;
    width: 250px;
  }
  .field-logo-smoke img {
    width: 250px;
  }
}

@media(max-width: 380px) {
  .left-header .guide ul {
    width: 260px;
  }
  .home-container .field-home-logo {
    padding-bottom: 40px;
  }
  .home-container .home-logo {
    width: 78px;
  }
  .field-logo-smoke h1 {
    font-size: 30px;
    padding-left: 14px;
    width: 200px;
  }
  .field-logo-smoke img {
    width: 200px;
  }
  .home-to-work a {
    font-size: 14px;
  }
}
